.video-container {
    position: relative;
    width: 100%;
    max-width: 640px;
    margin: auto;
    cursor: pointer;
  }
  
  .video-thumbnail {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .acube-video.video-container{
    max-width: 1200px;
  }