.page-header .nav-link {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 33.83px;
    text-align: left;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: var(--primary-color);   
}
.page-header{
    padding: 28px 0;
}

.page-header.navbar-expand-xl .navbar-nav .nav-link{
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.page-header .nav-btn {
    margin-left: 116px;
}

.page-header .nav-btn .btn {
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}